#section8 {

	background-image:url(../assets/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	
	
	width: 100%;
	height: auto;
	.container{
		.word{
			text-align: left;
			line-height: 20px;
			width: 50%;


			h2{
				font-family:"Open Sans";
				font-weight: 700;

			}
			p {
				font-family:"Open Sans";
				font-weight: 400;
			}
			
				li {
					list-style: none;
				
					div{
							
							font-size: 40px;
							color:white;
							height:100px;
							width:100px;
							border-radius:50%;
							background-color:#31AAE1;
							border: 10px solid #FFD98A;
							float:left;
							display: inline-block;
							box-sizing: border-box;
							.ion-eye {
								    position: relative;
    								top: 20px;
    								left: 20px;
							}
							.ion-monitor{
								position: relative;
    							top: 20px;
    							left: 20px;
							}	
							.ion-thumbsup {
								position: relative;
								top: 20px;
								left:20px;
							}
						
					}	
					article {
						width: 60%;
						display: inline-block;
						// float: right;
						text-align: left;

						h5{
							
							font-family:"Open sans";
							font-weight: 700;
						}					
						p {
							font-family: "Open sans";
							font-weight: 400;
						}
					}	
				}
			}
		}
	}
